*, html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.info {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    font-weight: 700;
}

/* Cara bikin animasi manual
    di .info tambahin animation: apaweh .5s infinite;
    trus bikin line baru kek gini
    @keyframes apaweh {
        0% //Ini di 0% dalam .5s jadi kek awal gitu {
            font-size: 15px; //ukuran font awal
        }

        50%{
            font-size: 20px;
        }

        100% {
            font-size: 15px;
        }
    }
*/

nav {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    padding: 15px;
}

nav a {
    color: white;
    padding: 15px;
    text-decoration: none;
    font-weight: 700;
}

nav a:hover{
    background-color: lightblue;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}